body {
    background-color: red;
    background-image: url('/resours/img/fondos/fondo-pag.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: right bottom;
}

/*================================================================================================*/

@font-face {
    font-family: ACME-regular ;
    font-weight: 400;
    font-style: normal;
    src: url("/resours/img/fonts-(offline)/ACME-regular/Acme-Regular.ttf");
}
@font-face {
    font-family: micro5-regular ;
    font-weight: 400;
    font-style: normal;
    src: url("/resours/img/fonts-(offline)/micro5-regular/Micro5-Regular.ttf");
}
@font-face {
    font-family: rammetonOne-regular ;
    font-weight: 400;
    font-style: normal;
    src: url("/resours/img/fonts-(offline)/rammetonOne-regular/RammettoOne-Regular.ttf");
}

@font-face {
    font-family: jaro ;
    font-style: normal;
    src: url("/resours/img/fonts-(offline)/Jaro/Jaro-Regular-VariableFont_opsz.ttf");
}

@font-face {
    font-family: Stick_No_Bills ;
    font-optical-sizing: auto;
    font-style: normal;
    src: url("/resours/img/fonts-(offline)/Jaro/Jaro-Regular-VariableFont_opsz.ttf");
}

@font-face {
    font-family: Sofadi_One ;
    font-optical-sizing: auto;
    font-style: normal;
    src: url("/resours/img/fonts-(offline)/Jaro/Jaro-Regular-VariableFont_opsz.ttf");
}

@font-face {
    font-family: tillana ;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    src: url("/resours/img/fonts-(offline)/Tillana/Tillana-Medium.ttf");
}

/*================================================================================================*/

.contenedor-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    gap: 20px;
    position: sticky;
    border: solid thin black;
    box-sizing: border-box; 
    background-color: rgb(224, 176, 176);
    padding: 10px;
    min-width: 800px;
}

.contenedor-header a,
.contenedor-header img,
.contenedor-header h1 {
    flex: 1;
    text-align: center; 
}

#titulo {
    background-color: aliceblue;
    display: flex;
    flex: 5;
    font-family: "ACME-regular";
    font-size: 110%;
    text-align: center;
    max-width: 2000px;
    max-height: 80px;
    text-decoration: none;
    color: inherit;
    border: solid 4px black;
    box-shadow: 1px 1px 5px rgb(29, 29, 29);
    padding: 1%;
    justify-content: center;
    align-items: center;
}

#icono {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 80px;
    height: 80px;
    padding: 1%;
    min-height: 80px;
    min-width: 80px;
    max-width: 80px;
    max-height: 80px;
    margin-left: 20px;
    border: solid 4px black;
    box-shadow: 1px 1px 5px rgb(29, 29, 29);
}

.imag-titulo {
    border: solid 4px black;
    width: 180px;
    height: 100px;
    flex: 2;
    max-width: 180px;
    max-height: 100px;
}

.contenedor-medio {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: baseline;
}

/*================================================================================================*/

/*contenedor main*/
.contenedor-main {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    flex-grow: 1;
    flex: 11;
}

.contenedor-com-art {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img-art {
    display: flex;
    padding: 8px;
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
    align-items: flex-end;
    background-color: rgb(0, 0, 0);
}

.articulos {
    background-color: rgb(116, 115, 115);
    border: solid 4px rgb(0, 0, 0);
    max-width: auto;
    max-height: 290px;
    padding: 10px;
    margin: 6px;
}

.contenido-articulo {
    font-family: tillana;
    display: flex;
    width: 100%;
    min-width: 550px;
    min-height: 50px;
    max-height: 150px;
    flex-direction: row;
    background-color: rgb(225, 225, 225);
    border: solid 4px black;
    padding: 5px;
}

.contenedor-aside {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 190px;
    max-height: 900px;
    margin-top: 10px;
    background-color: rgb(105, 105, 105);
    border: solid 5px black;
    align-items: center;
}

.menu-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*================================================================================================*/

/*recuadro menu */
.recuadros-menu-aside {
    font-family: Stick_No_Bills;
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 4px;
    width: 100px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    border: solid 4px black;
    text-decoration: none;
    color: inherit;
}

/*menu desplegable personaje */
.recuadros-menu-des-aside {
    font-family: Stick_No_Bills;
    display: flex;
    background-color: rgb(248, 169, 169);
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 4px;
    width: 100px;
    height: 60px;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    border: solid 4px black;
    text-decoration: none;
    color: inherit;
}

/* Dropdown CSS */
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: relative;
    width: 80px;
    text-align: center;
}

.dropdown-content .recuadros-menu-aside {
    margin: 4px 0;
    border-radius: 0;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

/*================================================================================================*/

/* Menú inferior */
.menu-inferior {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.recuadros-menu-inferior {
    background-color: aliceblue;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    border: solid 4px black;
    text-decoration: none;
    color: inherit;
    transition: background-color 10s;
}

.recuadros-menu-inferior:hover {
    background-color: #ddd;
}

/*================================================================================================*/

/*tablas del inicio*/
.estilo-tabla-principal {
    width: 100%;
    border-collapse: collapse;
    border: solid 5px black;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}

.estilo-dentro-tabla-tr {
    font-family: jaro;
    text-shadow:
     2px 2px 0 #000, 
    -2px 2px 0 #000, 
     2px -2px 0 #000, 
    -2px -2px 0 #000,
     2px 0 0 #000, 
    -2px 0 0 #000, 
     0 2px 0 #000, 
     0 -2px 0 #000;
    font-size: 20px;
    background-color: #980202;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.titulo-superior-tabla {
    border: solid 4px black;
}

.titulo-juego-tabla {
    min-width: 160px;
    background-color: rgb(227, 227, 227);
    padding: 10px 10px;
    border: 4px solid #000000;
    vertical-align: top; 
}

.historia-juegos-tabla {
    background-color: rgb(227, 227, 227);
    min-width: 400px;
    max-height: 3000px;
    font-family: tillana;
    align-items: center;
    padding: 10px 10px;
    border: 4px solid #000000;
    vertical-align: top; 
}

.contenedor-img-tabla {
    position: relative;
    align-items: center;
    min-width: 200px;
    min-height: 390px;
    max-width: 200px;
    max-height: 380px;
    justify-content: center;
    background-color: rgb(227, 227, 227);
    z-index: 0; 
    padding: 10px 10px;
    border: 3px solid #000000;
    vertical-align: top; 
}

/* Alineación de imágenes */
.imagen-juego-tabla {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover; 
}

.img-tabla-inicio {
    padding: 5px;
    min-width: 150px;
    min-height: 150px;
    max-width: 180px;
    max-height: 180px;
    align-items: flex-end;
    background-color: rgb(0, 0, 0);
}

/*================================================================================================*/

/*stylo formulario*/
.contenedor-formulario {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    border: solid 4px black;
    padding: 20px;
    background-color: rgb(125, 125, 125);
    max-width: 1000px;
    margin: 0 auto; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.formulario-contacto {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.formulario-contacto label {
    font-size: 18px;
    margin-bottom: 15px;
}

.formulario-contacto input,
.formulario-contacto select,
.formulario-contacto textarea {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.formulario-contacto button {
    font-size: 18px;
    padding: 10px;
    background-color: #db1111;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.recuadro-mensaje {
    max-width: 100%;
    max-height: 200px;
    resize: none;
}

main label {
    font-family: jaro;
    font-size: 90px;
}

/*================================================================================================*/

/*fuentes y formato titulos*/
.titulo-aside {
    font-family: jaro;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    width: 130px;
    height: 25px;
    border: solid 4px black;
}

.titulos-articulo {
    background-color: azure;
    font-family: "micro5-regular";
    border: solid 4px rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    margin-left: 10px;
}

/*================================================================================================*/

/*contenedor main personajes*/
.contenedor-medio_personajes {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.contenedor-main_personajes {
    display: grid;
    border: solid 2px black;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adaptación responsiva */
    background-color: rgb(125, 125, 125);
    color: #ffffff;
    place-items: center;
    align-items: start;
    column-gap: 1em; /* Ajusta el espacio entre columnas */
    row-gap: 1em; /* Ajusta el espacio entre filas */
    width: 100%;
    margin: auto;
}


.select-character {
    margin-right: 10px;
    transform: scale(1.5);
    cursor: pointer;
}



.contenedor-medio-TODO-PER {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: baseline;
}


.img-art_personajes {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: cover;
}

.contenido-articulo_personajes {
    text-align: center;
    margin-top: 1px;
    font-size: 18px;
    font-family: "Archivo Black", sans-serif;
    border: #000;
}

.mas-texto {
    padding: 8px;
    margin-top: 10px;
}

.dropdown-personajes {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.dropdown-personajes-content {
    display: none;
    position: relative;
    width: 160px;
    text-align: center;
}

.dropdown-personajes:hover .dropdown-personajes-content {
    display: flex;
    flex-direction: column;
}

/* Estilo base para los elementos del mini menú */
.contenedor-com-art_personajes {
    padding-top: 10px ;
    position: relative;
    display: inline-block;
}
.dropdown-personajes-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-personajes-content a {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-personajes-content a:hover {
    background-color: #ddd;
}

.contenedor-com-art_personajes {
    position: relative;
    display: inline-block;
}

.clicked {
    display: flex !important;
}

.img-art_personajes {
    cursor: pointer;
}

/*================================================================================================*/

/*estilo para el botón de mostrar más/menos */
.toggle-description {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.toggle-description:hover {
    background-color: #e0e0e0;
}


/* Añadir estilos para el botón de agregar personaje y la validación del formulario */
#add-character-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

#add-character-button:hover {
    background-color: #45a049;
}

.highlight {
    border: 2px solid red; /* Ajusta el color y estilo del borde según tus necesidades */
    padding: 10px; /* Opcional: para que el borde no esté pegado al contenido */
}

/* styles.css */
.button {
    display: inline-block;
    padding: 30px 60px;
    margin-top: 40px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: solid 5x black;
}
/* styles.css */
.button-2 {
    display: inline-block;
    padding: 30px 60px;
    margin-top: 40px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #3f0202;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: solid 5x black;
}







.button:hover {
    background-color: #0056b3;
}

/* Definir la clase para el fondo personalizado */
.background-custom {
    background-color: red;
    background-image: url('/resours/img/fondos/fondo-pag.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: right bottom;
    min-height: 100vh; /* Altura mínima de la pantalla completa */
    min-width: 100vw;  /* Ancho mínimo de la pantalla completa */
}