body {
    background-color: red;
    background-image: url('/resours/img/fondos/fondo-pag.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; /* Ajusta la imagen al tamaño de la ventana */
    background-position: right bottom; /* Coloca la imagen en la parte inferior */
}

/*fuentes descargadas*/
@font-face {
    font-family: ACME-regular ;
    font-weight: 400;
    font-style: normal;
    src: url("/resours/img/fonts-(offline)/ACME-regular/Acme-Regular.ttf");
}
@font-face {
    font-family: micro5-regular ;
    font-weight: 400;
    font-style: normal;
    src: url("/resours/img/fonts-(offline)/micro5-regular/Micro5-Regular.ttf")
}

/*estilo principal */

.contenedor-header{
    display:flex;
    align-items: center;
    gap: 20px ;
    position: sticky;
    border: solid thin black;
    background-color: rgb(224, 176, 176) ;
}

#titulo{
    display: flex;
    font-family: "ACME-regular";
    font-size: 200%;
    background-color: aliceblue;
    border: solid 4px black;
    box-shadow: 1px 1px 5px rgb(29, 29, 29);
    padding:1%;
    text-decoration: solid;
}

#icono{
    display: flex;    
    justify-content: center; /* Centra los elementos hijos horizontalmente */
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    min-height: 5px;
    min-width: 5px ;
    margin-left: 20px;
    padding: 1% ;
    border: solid 4px black;
    box-shadow: 1px 1px 5px rgb(29, 29, 29);
}





.contenedor-medio{
    margin-top: 20px;
    display: flex;
    gap: 30px ;

    border: solid thin black;
    justify-content: space-between; /* Distribuye los elementos de orilla a orilla */

}


/*contenedor main*/
.contenedor-main{
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    flex-grow: 1; /* Permite que el elemento crezca */
    flex:11

}

        /*clases articulos*/
.articulos{
    background-color: azure;
    border: solid 4px rgb(116, 116, 116);
    padding: 5px;
    margin:6px

}


.contenido-articulo{
    background-color: rgb(94, 93, 93);
    padding: 1%;

}

/*contenedor */
.contenedor-aside{
    display: flex;
    flex-direction: column;
    background-color: rgb(105, 105, 105);
    padding: 10px;
    border: solid thin black;
    align-items: left;
    flex-grow: 1; /* Permite que el elemento crezca */

}

/*menu aside*/
#menu{
    display: flex;
    flex-direction: column;
}

.recuadros-menu-aside{
    background-color: aliceblue;
}

        /*contenido aside right*/
.titulo-aside{
    text-align: center;
    background-color: rgb(255, 255, 255);

    border: solid 4px black;

}





.titulos-articulo{
    background-color: azure;
    font-family: "micro5-regular";
    font-size: 30px;
    text-align: center;
    margin-left: 10px;
    
}

/*fuentes aplicadas*/





